[submodule "dwm"]
	path = linux/dwm
	url = https://github.com/AnissL93/dwm
[submodule "st"]
	path = linux/st
	url = https://github.com/AnissL93/st.git
[submodule "slock"]
	path = linux/slock
	url = https://github.com/AnissL93/slock.git
